@model src.ViewModel.ProductViewModel

<h2>Elimina Prodotto</h2>

<div>
    <p>Sei sicuro di voler eliminare il seguente prodotto?</p>
    <dl class="row">
        <dt class="col-sm-2">Codice Prodotto</dt>
        <dd class="col-sm-10">@Model.CodProduct</dd>

        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Categoria</dt>
        <dd class="col-sm-10">@Model.Category</dd>

        <dt class="col-sm-2">Data di Scadenza</dt>
        <dd class="col-sm-10">@Model.ExpirationDate.ToShortDateString()</dd>

        <dt class="col-sm-2">Tipo</dt>
        <dd class="col-sm-10">@Model.Type</dd>
    </dl>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="CodProduct" />
        <button type="submit" class="btn btn-danger">Elimina</button>
        <a asp-action="Index" class="btn btn-primary">Annulla</a>
    </form>
</div>
